main {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;

}

.url-shorten-form .button-div{
    margin-top: 2em; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.link-container{
    margin-top: 2em; 
    display: flex; 
    align-items: center;
    justify-content: center;
}